<div class="ig-landing">

  <h1 class="hidden">L'Intérêt Général</h1>
  <!-- <header class="ig-landing-banner-container">
    <a href="https://croquant.atheles.org/linteretgeneral/index_parution.html" target="_blank">
      <img class="ig-landing-banner-img" [src]="bannerSrc" alt="Commandez l'intérêt général">
    </a>
  </header> -->

  <main class="ig-landing-covers">
    <section class="ig-landing-covers-group-one">
      <ig-landing-cover *ngFor="let cover of coversGroupOne" [cover]="cover"></ig-landing-cover>
    </section>

    <section class="ig-landing-covers-group-two">
      <ig-landing-cover *ngFor="let cover of coversGroupTwo" [cover]="cover"></ig-landing-cover>
    </section>
  </main>

  <div class="ig-landing-caption text-center">
    L’Intérêt général est la revue du Parti de Gauche. Lieu de réflexion, support de formation et outil d'agitation, il paraît tous les trois mois.
  </div>

  <ig-landing-social-networks></ig-landing-social-networks>

</div>
