$base-cover-size: 1140px / 3;

.ig-landing {
  margin: 2em 0;

  &-banner {
    &-container {
      overflow: hidden;
      border-radius: 2px;
      margin: 20px;
    }
    &-img {
      width: 100%;
      transition: transform ease .5s;
      &:hover { transform: scale(1.05); }
    }
  }

  &-covers {
    ig-landing-cover {
      padding: 20px;
      width: $base-cover-size;
      height: $base-cover-size;
    }
    &-group {
      &-one {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: $base-cover-size * 2;
        ig-landing-cover:first-child {
          width: $base-cover-size * 2;
          height: $base-cover-size * 2;
        }
      }
      &-two {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  &-caption {
    max-width: 300px;
    margin: auto;
    font-style: italic;
    padding-top: 70px;
  }
}
