<main
  *ngIf="edition"
  class="ig-issue"
  [ngStyle]="{ color: mainColor }"
>

  <header class="ig-issue-header">
    <img class="ig-issue-cover" [src]="edition.imgSrc" [alt]="edition.title">
    <div class="ig-issue-header-main">
      <h2 class="ig-issue-title">{{ edition.number }}. {{ edition.title }}</h2>
      <p class="ig-issue-description">{{ edition.shortDesc }}</p>
      <a
        class="ig-button-current-color ig-button-current-color-highlight ig-issue-shop"
        [href]="edition.shopPath"
        target="_blank"
      ><span>Commander</span></a>
    </div>
  </header>

  <ul>
    <li *ngFor="let article of edition.articles">
      {{ article.title }}
      {{ article.fullName }}
      {{ article.description }}
    </li>
  </ul>

  <p>
    {{ edition | json }}
  </p>

</main>
