<div class="container">
  <main *ngIf="article$ | async as article">

    <h1 id="article-title">{{ article.title }}</h1>

    <ig-lazy-img
      *ngIf          = "article.illustration as illustration"
      id             = "article-image"
      [illustration] = "illustration"
      [classNames]   = "getImageArticleClasses(article)"
    ></ig-lazy-img>

    <dl id="article-lead" [ngClass]="getArticleTypeClassName(article)">
      <dt>{{ article.type | translate:'articleType' }}</dt>
      <dd [innerHtml]="article.lead | safeHtml"></dd>
    </dl>

    <section
      id          = "article-content"
      [ngClass]   = "getAccessStatusClassName(article)"
    >
      <div [innerHtml]="article.content | safeHtml"></div>
      <div id="article-partial-cta" *ngIf="shouldDisplayPartialCta(article)">
        Achetez l'Intérêt Général <span [innerHtml]="getEditionTitle(article)"></span> pour lire la suite de cet article
        <p>
          <a
            id     = "issue-action"
            class  = "ig-button ig-button-highlight"
            [href] = "getEditionShopLink(article)"
            target = "_blank"
            ><span>Commander</span></a>
        </p>
      </div>
    </section>

    <aside id="article-details" *ngIf="article.author; let author">
        <div id="article-details-author">
          <b>{{ author.fullName }}</b>, <span [innerHtml]="author.description | safeHtml"></span>
        </div>
        <div id="article-details-actions">
          <a class="ig-button" [routerLink]="getBackButtonLink(article)">><span>Retour</span></a>
        </div>
    </aside>

  </main>
</div>
