<main class="container" *ngIf="article$ | async as article">

  <h1 id="article-title">{{ article.title }}</h1>

  <div id="article-image" *ngIf="article.illustration as illustration">
    <img class="article-img"
         [src]="illustration.imgSrc"
         [alt]="illustration.name"
         (load)="onImageLoad()"
         [style.object-position]="illustration.position"
         >
    <img class="article-img article-img-preview"
         *ngIf="illustration.previewSrc"
         [class.article-img-hide]="imageDisplayFull"
         [src]="illustration.previewSrc"
         [alt]="illustration.name"
         [style.object-position]="illustration.position"
         >
  </div>

  <dl id="article-lead">
    <dt>{{ article.type }}</dt>
    <dd [innerHtml]="article.lead"></dd>
  </dl>

  <section id="article-content" [innerHtml]="article.content"></section>

  <aside id="article-author" *ngIf="article.author; let author">
    {{ author.fullName }}, {{ author.description }}
  </aside>

</main>
