@import '../../../assets/styles/config/_variables.scss';

.ig-navbar {
  background-color: white;
  border-bottom: 2px solid $ig-red;

  display: flex;
  align-items: center;
  justify-content: space-between;

  user-select: none;

  &-logo { height: 150px; }
  &-menu {
    display: flex;
    &-item {
      font-family: Lato, sans-serif;
      font-weight: 100;
      font-size: 24px;
      color: $ig-red;
      margin-left: 10px;
      padding: 10px;
      border: 1px solid transparent;
      position: relative;
      &:hover { border-color: $ig-red; }
      &:active {
        padding: 11px 9px 9px 11px;
        box-shadow: inset 1px 2px 5px 1px rgba(150, 150, 150, 0.2);
      }
      &:not(:last-of-type):not(:first-of-type)::after {
        content: '';
        position: absolute;
        left: -8px;
        top: 50%;
        border: 1px solid $ig-red;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: $ig-red;
      }
    }
    &-important {
      border-color: $ig-red;
      &:hover {
        color: white;
        background-color: $ig-red;
      }
      &:active {
        box-shadow: inset 1px 2px 5px 1px rgba(80, 80, 80, 0.2);
      }
    }
  }
}
