*    { box-sizing: border-box; }
html { font-family: 'sans-serif'; }

.container { padding: 0 15px; margin: 0 auto; }
.hidden    { display: none; }

.full-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: $screen-sm) { .container { width: $container-sm; } }
@media screen and (min-width: $screen-md) { .container { width: $container-md; } }
@media screen and (min-width: $screen-lg) { .container { width: $container-lg; } }
