<div class="container">

  <main
    *ngIf="issue"
    [ngStyle]="{ color: mainColor }"
    class="ig-issue padded"
  >

    <h1 id="issue-title">
      {{ issue.number }}. {{ issue.title }}
    </h1>

    <ig-lazy-img
      id="issue-cover"
      [illustration]="illustrationDef"
      classNames="issue-cover"
    ></ig-lazy-img>

    <section id="issue-details">
      <p id="issue-description">{{ issue.shortDesc }}</p>

      <a
        id="issue-action"
        class="ig-button-current-color ig-button-current-color-highlight"
        [href]="issue.shopPath"
        target="_blank"
        ><span>Commander</span></a>
    </section>

    <section id="issue-content">
      <ig-issue-article *ngFor="let article of issue.articles" [article]="article" [editionId]="issue.editionId"></ig-issue-article>
    </section>

  </main>

</div>
