<% if notice %>
  <p class="flash flash-notice" onclick="this.style.display = 'none'"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="flash flash-alert" onclick="this.style.display = 'none'"><%= alert %></p>
<% end %>
