<ig-app>
    <div class="ig-loader-wrapper">
    <div class="ig-loader">
        <span id="ig-loader-1"></span>
        <span id="ig-loader-2"></span>
        <span id="ig-loader-3"></span>
        <span id="ig-loader-4"></span>
        <span id="ig-loader-5"></span>
    </div>
    </div>
</ig-app>
<%= javascript_pack_tag 'application' %>
