.ig-social-networks {
  padding: 0 2em 1.5em 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 70px;
  .fa-facebook { color: #3B5998; }
  .fa-twitter  { color: #1DA1F2; }
  &-instagram  { height: 60px; width: 60px; }
  > * {
    filter: grayscale(100%);
    transition: all ease .3s;
    &:hover { filter: grayscale(0%); }
  }
}

@media screen and (max-width: 700px) {
  .ig-social-networks { flex-direction: column; }
}
