:host {
  position: relative;
}

.lazy-preview {
  opacity   : 1                      ;
  transition: opacity .5s ease-in-out;

  position: absolute;
  top     : 0       ;
  left    : 0       ;
  z-index : 2       ;

  width     : 100% ;
  height    : 100% ;
  object-fit: cover;

  &-hide { opacity: 0 !important; }
}

.lazy-main {
  width     : 100% ;
  object-fit: cover;
}
