.wrapper {
  background-color: #fff;

  margin-bottom: 1em ;
  padding: 1em ;
  display: grid;

  grid-template-areas  : 'image title' 'image details' 'image lead';
  grid-template-columns: min-content auto                   ;
  grid-template-rows   : repeat(2, minmax(2em, min-content)) auto;
  grid-column-gap      : 1em                        ;

  &:hover, &:active { outline: .3em solid #fff; }
}

::ng-deep ig-lazy-img {

  grid-area: image;
  position: relative;

  .article-image {
    width : 100px;
    object-fit: cover;
  }
}

h3, p {
  margin    : 0       ;
  text-align: left    ;
  align-self: baseline;
}

h3 {
  grid-area     : title    ;
  text-transform: uppercase;
  font-size     : 1.6em;
}

p {
  &:first-of-type {
    grid-area: details;
    padding-left: 10px;
  }
  &:last-of-type {
    grid-area: lead;
    font-style: italic;
  }
}
