.wrapper {
  background-color: #fff;

  margin-bottom: 1em ;
  padding: 1em ;
  display: grid;

  grid-template-areas  : 'image title' 'image details' 'image lead';
  grid-template-columns: min-content auto                   ;
  grid-template-rows   : repeat(3, minmax(2em, min-content));
  grid-column-gap      : 1em                        ;

  &:hover, &:active { outline: .3em solid #fff; }
}

::ng-deep ig-lazy-img {

  grid-area: image;
  position: relative;

  .article-image {
    width : 100px;
    object-fit: cover;
  }
}

// span {
//   outline    : 1px solid currentColor;
//   font-size  : 2em                   ;
//   grid-area  : type                  ;
//   display    : grid                  ;
//   align-items: center                ;
//   font-family: 'Lato', 'sans-serif'  ;
//   font-weight: 900                   ;
//   height     : 2em                   ;
// }

h3, p {
  margin    : 0       ;
  text-align: left    ;
  align-self: baseline;
}

h3 {
  grid-area     : title    ;
  text-transform: uppercase;
}

p {
  &:first-child {
    grid-area: details;
  }
  &:last-child {
    grid-area: lead;
  }
}
