<main
  *ngIf="editionIssue"
  class="ig-issue"
  [ngStyle]="{ color: mainColor }"
>

  <header class="ig-issue-header">
    <img class="ig-issue-cover" [src]="editionIssue.imgSrc" [alt]="editionIssue.title">
    <div class="ig-issue-header-main">
      <h2 class="ig-issue-title">{{ editionIssue.number }}. {{ editionIssue.title }}</h2>
      <p class="ig-issue-description">{{ editionIssue.shortDesc }}</p>
      <a
        class="ig-button-current-color ig-button-current-color-highlight ig-issue-shop"
        [href]="editionIssue.shopPath"
        target="_blank"
      ><span>Commander</span></a>
    </div>
  </header>

  <ul>
    <ig-issue-article *ngFor="let article of editionIssue.articles" [article]="article"></ig-issue-article>
  </ul>

  <p>
    {{ editionIssue | json }}
  </p>

</main>
