@import '../../../../assets/stylesheets/config/variables';

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 1px solid $ig-red;

  height: 90px;

  > * {
    height: 100%;
    &:nth-child(2) { flex: 1; }
  }

  h3 {
    padding: 1rem;
    margin: 0;
  }

  h3, address {
    margin-left: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      background-color: rgba(50, 50, 50, .1)
    }
  }

  aside, address { display: flex; flex-direction: column; }

  aside {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: $ig-red;
    font-family: Lato, sans-serif;
    font-weight: 100;
    border-right: 1px solid $ig-red;
    > span:nth-child(2) { font-weight: 700; font-size: 1.1rem; }
  }

  address {
    padding: 10px;
    > span:first-child { font-size: 1.1rem; }
  }
}
