<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>L'Intérêt Général - La revue du Parti de Gauche</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>

    <div class="container ig-app">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>

  </body>
</html>
